[submodule "jasmin"]
	path = jasmin
	url = https://github.com/jasmin-lang/jasmin.git
	branch = fix-eclib-avx2-shifts
[submodule "crypto-specs"]
	path = crypto-specs
	url = git@github.com:formosa-crypto/crypto-specs.git
	branch = bdep
[submodule "formosa-keccak"]
	path = formosa-keccak
	url = git@github.com:formosa-crypto/formosa-keccak.git
	branch = bdep
[submodule "code/kyber"]
	path = code/kyber
	url = https://github.com/pq-crystals/kyber.git
