[test-mlkem_correctness_768_ref]
okdirs  = !proof/correctness/768/ref

[test-mlkem_correctness_768_avx2]
okdirs  = !proof/correctness/768/avx2

[test-mlkem_correctness_1024_ref]
okdirs  = !proof/correctness/1024/ref

[test-mlkem_correctness_1024_avx2]
okdirs  = !proof/correctness/1024/avx2

[test-mlkem_safety_768_ref]
okdirs  = !proof/safety/768/ref

[test-mlkem_safety_768_avx2]
okdirs  = !proof/safety/768/avx2 

[test-mlkem_safety_1024_ref]
okdirs  = !proof/safety/1024/ref

[test-mlkem_safety_1024_avx2]
okdirs  = !proof/safety/1024/avx2

[test-mlkem_security]
okdirs  = !proof/security

[test-mlkem_spec_bridge]
okdirs  = !proof/spec
