[default]
bin  = easycrypt
args = -timeout 30 -R proof -I Jasmin:jasmin/eclib -I sha3/proof -I sha3/proof/smart_counter -I code/jasmin/avx2v/extraction -I code/jasmin/ref/extraction -I crypto-specs/common -I crypto-specs/kyber768/ -I crypto-specs/kyber768/properties

[test-kyber]
okdirs  = !proof crypto_specs/kyber768
exclude = !proof/attic !proof/_spec
