[test-mlkem]
okdirs  = !proof/correctness/768 !proof/correctness/1024  !proof/eclib  !proof/security
exclude = !proof/attic    !proof/spec 

[test-mlkem_correctness_768_avx2]
okdirs  = !proof/correctness/768/avx2 
exclude = !proof/attic  !proof/safety  !proof/spec !proof/correctness/1024  !proof/eclib  !proof/security

[test-mlkem_correctness_768_ref]
okdirs  = proof/correctness/768
exclude = !proof/attic  !proof/safety  !proof/spec !proof/correctness/1024  !proof/eclib  !proof/security

[test-mlkem_correctness_1024_avx2]
okdirs  = !proof/correctness/1024/avx2
exclude = !proof/attic  !proof/safety  !proof/spec !proof/correctness/768  !proof/eclib  !proof/security

[test-mlkem_correctness_1024_ref]
okdirs  = proof/correctness/1024
exclude = !proof/attic  !proof/safety  !proof/spec !proof/correctness/768  !proof/eclib  !proof/security


[test-mlkem_safety_768_avx2]
okdirs  = !proof/safety/768/avx2 
exclude = !proof/attic  !proof/correctness  !proof/spec !proof/safety/1024 !proof/eclib  !proof/security

[test-mlkem_safety_768_ref]
okdirs  = !proof/safety/768/ref
exclude = !proof/attic    !proof/correctness  !proof/spec !proof/safety/1024 !proof/correctness/1024  !proof/eclib  !proof/security

[test-mlkem_safety_1024_avx2]
okdirs  = !proof/safety/1024/avx2
exclude = !proof/attic   !proof/correctness  !proof/spec !proof/safety/768 !proof/correctness/768  !proof/eclib  !proof/security

[test-mlkem_safety_1024_ref]
okdirs  = !proof/safety/1024/ref
exclude = !proof/attic  !proof/correctness  !proof/spec !proof/safety/768 !proof/correctness/768  !proof/eclib  !proof/security

[test-mlkem_other]
okdirs  = !proof/eclib  !proof/security
exclude = !proof/attic    !proof/spec !proof/correctness/768  !!proof/correctness/1024