jfips202.s
jindcpa.s
jkem.s
jpoly.s
jpolyvec.s
test/test_fips202
test/test_indcpa
test/test_kem
test/test_poly_add2
test/test_poly_basemul
test/test_poly_compress
test/test_poly_csubq
test/test_poly_decompress
test/test_poly_frombytes
test/test_poly_frommont
test/test_poly_frommsg
test/test_poly_getnoise
test/test_poly_invntt
test/test_poly_ntt
test/test_poly_reduce
test/test_poly_sub
test/test_poly_tobytes
test/test_poly_tomsg
test/test_polyvec_add2
test/test_polyvec_compress
test/test_polyvec_csubq
test/test_polyvec_decompress
test/test_polyvec_frombytes
test/test_polyvec_invntt
test/test_polyvec_ntt
test/test_polyvec_pointwise_acc
test/test_polyvec_reduce
test/test_polyvec_tobytes
test/speed_indcpa
