name: MLKEM implementation
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

  
env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
    ct:
      name: Check Constant-Time Security
      permissions:
        contents: read
        id-token: write
      uses: ./.github/workflows/ct.yml
      secrets: inherit 
    compile_and_test:
        name: Compile and Test MLKEM implementation
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
          with:
            submodules: recursive
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --run "make -C code/jasmin/${{matrix.size}}/${{matrix.dir}}/ jkem.s"
        - run: nix-shell --arg full false --run "make -C tests/apitest run_test_kem_${{matrix.dir}}_${{matrix.size}}"
    check-sums:
        name: Test MLKEM implementation checksums
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
          with:
            submodules: recursive
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --run "make -C bench run-tests"
        - name: Generate Checksum Summary
          if: always()
          run: nix-shell --arg full false --run "./scripts/check_checksums.sh"
    memory-check:
      name: Test memory safety of MLKEM implementation
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix-shell --arg full false --run "echo Dependencies OK…"
      - run: nix-shell --arg full false --run "make -C bench memory-check"
      - name: Generate Memory Check Summary
        if: always()
        run: nix-shell --arg full false --run "./scripts/check_memory.sh"