name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
    test_extraction:
        name: Extract MLKEM to EC
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --arg full false --run "make -C code/jasmin/${{matrix.size}}/${{matrix.dir}}/extraction ec"
    test_proofs:
        name: Build & Prove
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell -p pcre2 --run "echo Dependencies OK…"
        - run: nix-shell -p pcre2 --run 'easycrypt why3config'
        - run: nix-shell -p pcre2 --run make
