name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1
  ECRJOBS: 8

jobs:
    test_extraction:
        name: Extract MLKEM to EC
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
            type: [ 'ec', 'ec_safety' ]
        steps:
         - uses: actions/checkout@v6
           with:
            submodules: recursive
         - uses: ./.github/actions/ec_extraction
           with:
            type: ${{matrix.type}}
            size: ${{matrix.size}}
            dir: ${{matrix.dir}}
    test_proofs:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            type: [ 'safety' , 'correctness' ]
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
         - uses: actions/checkout@v6
           with:
            submodules: recursive
         - uses: ./.github/actions/check_proofs
           with:
            type: ${{matrix.type}}
            size: ${{matrix.size}}
            dir: ${{matrix.dir}}

