name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1
  ECRJOBS: 8

jobs:
    test_extraction:
        name: Extract MLKEM to EC
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --run "make -C code/jasmin/${{matrix.size}}/${{matrix.dir}}/extraction ec"
    test_proofs:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            type: [ 'safety' , 'correctness' ]
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - name: Install Nix
          uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - name: Check Dependencies
          run: nix-shell --run "echo Dependencies OK…"
        - name: Configure provers
          run: nix-shell --run 'easycrypt why3config'
        - name: Run ${{matrix.type}} Proofs MLKEM${{matrix.size}}(${{matrix.dir}})
          id: ec_proofs 
          run: |
            set -o pipefail
            nix-shell --run "easycrypt runtest config/tests.config mlkem_${{matrix.type}}_${{matrix.size}}_${{matrix.dir}}"  2>&1 | tee proof_output.log
        - name: Generate Detailed Job Summary
          if: always() 
          run: |
            export PROOF_JOB_OUTCOME=${{ steps.ec_proofs.outcome }}
            python scripts/report_proofs_result.py \
              proof_output.log \
              "${{ matrix.type }}" \
              "${{ matrix.size }}" \
              "${{ matrix.dir }}"
    heatmap_proofs:
        name: Generate Heat-Map Proofs
        if: false
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            type: ['safety', 'correctness']
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - name: Install Nix
          uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - name: Check Dependencies
          run: nix-shell --run "echo Dependencies OK…"
        - name: Configure provers
          run: nix-shell --run 'easycrypt why3config'
        - name: Run ${{matrix.type}} Proofs MLKEM${{matrix.size}}(${{matrix.dir}})
          run: |
           if [ ${{matrix.type}} == "correctness" ] && [ ${{matrix.dir}} == "ref" ]; then
              TARGET_DIR="proof/${{matrix.type}}/${{matrix.size}}"
           else
              TARGET_DIR="proof/${{matrix.type}}/${{matrix.size}}/${{matrix.dir}}"
           fi
           HTML_REPORT_DIR="reports/${{matrix.type}}/${{matrix.size}}/${{matrix.dir}}"
           mkdir -p ${HTML_REPORT_DIR}
           TSTATS_DIR=".tstats"
           mkdir -p ${TSTATS_DIR}
           for EC_FILE in ${TARGET_DIR}/*.ec; do
              if [ -e "$EC_FILE" ]; then
                TSTATS_FILE="${TSTATS_DIR}/$(basename "${EC_FILE%.ec}.tstats")"
                FILENAME_BASE="$(basename "${EC_FILE%.ec}")"
                HTML_REPORT_PATH="${HTML_REPORT_DIR}/${FILENAME_BASE}.html"
                nix-shell --run "easycrypt -tstats ${TSTATS_FILE} ${EC_FILE}"
                python scripts/generate_heatmap.py ${EC_FILE} ${TSTATS_FILE} > ${HTML_REPORT_PATH}                
              fi
           done
        - name: Upload Heatmap Artifacts
          uses: actions/upload-artifact@v4
          with:
            name: easycrypt-heatmap-reports-${{matrix.type}}-${{matrix.size}}-${{matrix.dir}}
            path: reports/${{matrix.type}}/${{matrix.size}}/${{matrix.dir}}
            retention-days: 7

