name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1
  ECRJOBS: 8

jobs:
    test_extraction:
        name: Extract MLKEM to EC
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --run "make -C code/jasmin/${{matrix.size}}/${{matrix.dir}}/extraction ec"
    test_proofs:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            type: [ 'correctness', 'safety' ]
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - name: Install Nix
          uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - name: Check Dependencies
          run: nix-shell --run "echo Dependencies OK…"
        - name: Configure provers
          run: nix-shell --run 'easycrypt why3config'
        - name: Run ${{matrix.type}} Proofs MLKEM${{matrix.size}}(${{matrix.dir}})
          id: ec_proofs 
          run: |
            set -o pipefail
            nix-shell --run "easycrypt runtest config/tests.config mlkem_${{matrix.type}}_${{matrix.size}}_${{matrix.dir}}"  2>&1 | tee proof_output.log
        - name: Generate Detailed Job Summary
          if: always() 
          run: |
            echo "PROOF_JOB_OUTCOME=${{ steps.ec_proofs.outcome }}" >> $GITHUB_ENV
            python scripts/report_proofs_result.py \
              proof_output.log \
              "${{ matrix.type }}" \
              "${{ matrix.size }}" \
              "${{ matrix.dir }}"

