
name: Implementation Verification
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1

jobs:
    correctness_check:
        name: Correctness check
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
         - uses: actions/checkout@v4
           with:
            submodules: recursive
         - uses: ./.github/actions/correctness
           with:
            size: ${{matrix.size}}
            dir: ${{matrix.dir}}
         - uses: ./.github/actions/check_sums

    safety_check:
        name: Safety check
        runs-on: ubuntu-latest
        steps:
        - uses: ./.github/actions/safety
    ct_check:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            target: [ 'ct' , 'sct' ]
            size: [ '768', '1024' ]
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
          with:
            submodules: recursive
        - uses: ./.github/actions/CT
          with:
            target: ${{matrix.target}}
            size: ${{matrix.size}}
            dir: ${{matrix.dir}}

